.attribution{ 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: 11px; text-align: center; 
    color: $color_white;
    
    a{ 
        color: hsl(228, 45%, 44%);
        font-size: 11px;
    }
}
    