$color_priOrange: hsl(25, 97%, 53%);
$color_white: hsl(0, 0%, 100%);
$color_lightGray: hsl(217, 12%, 63%);
$color_medGray: hsl(216, 12%, 54%);
$color_darkBlue: hsl(213, 19%, 18%);
$color_darkDarkBlue: hsl(216, 12%, 8%);

$size_lg1: 470px;
$size_sm1: 35px;
$size_med1: 56px;
